---
autofs_enabled: true
autofs_smb_enabled: true
autofs_smb_credentials: "{{vault_autofs_smb_credentials}}"
extra_keys:
  - https://dl.google.com/linux/linux_signing_key.pub
  - https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
  - https://download.opensuse.org/repositories/home:/sohraun/openSUSE_Slowroll/repodata/repomd.xml.key
  - https://ftp.gwdg.de/pub/linux/misc/packman/suse/openSUSE_Slowroll/repodata/repomd.xml.key
  - https://rpm.releases.hashicorp.com/gpg
  - https://packages.microsoft.com/keys/microsoft.asc
extra_repos:
  - name: google-chrome
    description: Google Chrome
    repo: https://dl.google.com/linux/chrome/rpm/stable/x86_64
  - name: google-cloud-cli
    description: Google Cloud CLI
    repo: https://packages.cloud.google.com/yum/repos/cloud-sdk-el9-x86_64
  - name: home_sohraun
    description: sohraun's Home Project
    repo: https://download.opensuse.org/repositories/home:/sohraun/openSUSE_Slowroll/
  - name: packman
    description: Packman
    repo: https://ftp.gwdg.de/pub/linux/misc/packman/suse/openSUSE_Slowroll/
    priority: 90
  - name: hashicorp
    description: Hashicorp Stable
    repo: https://rpm.releases.hashicorp.com/RHEL/9/x86_64/stable
  - name: vscode
    description: Visual Studio Code
    repo: https://packages.microsoft.com/yumrepos/vscode
extra_packages:
  - android-tools
  - ant
  - audacity
  - code
  - darktable
  - deskflow
  - digikam
  - dislocker
  - dolphin-plugins
  - exif
  - ffmpeg-6
  - filezilla
  - fprintd-pam
  - gamemode
  - gimp
  - gimp-plugin-heif
  - git
  - google-chrome-stable
  - google-cloud-cli
  - gparted
  - handbrake-gtk
  - heif-thumbnailer
  - heimdall
  - helm
  - java-11-openjdk-devel
  - java-17-openjdk-devel
  - java-21-openjdk-devel
  - kdeconnect-kde
  - keepassxc
  - kio_kamera
  - kmymoney
  - kodi
  - kodi.binary-addons-pvr.hts
  - koko
  - krdc
  - krfb
  - kubectl
  - libass9
  - libfprint-2-tod1-broadcom
  - libheif-ffmpeg
  - libheif-HEIF
  - maven
  - myrlyn
  - nextcloud-desktop
  - nodejs20
  - nvidia-compute-utils-G06
  - nvidia-drivers-G06
  - nvidia-utils-G06
  - obs-studio
  - okteta
  - osc
  - patterns-devel-base-devel_basis
  - patterns-devel-base-devel_basis-32bit
  - photorec
  - php-composer2
  - pipewire-pulseaudio
  - qphotorec
  - rdiff
  - shairport-sync
  - starship
  - steam
  - sunshine
  - terraform
  - testdisk
  - tpm2.0-tools
  - v4l2loopback-kmp-longterm
  - vagrant
  - vban
  - virtualbox
  - wireshark
  - yakuake
extra_services:
  - nqptp.service
  - update-system-flatpaks.timer
firewall_interfaces:
  - zone: home
    interface: eth0
  - zone: vpn
    interface: tun0
firewall_ports:
  - zone: home
    port: 9080/tcp
  - zone: home
    port: 9090/tcp
  - zone: home
    port: 6980/udp
firewall_services:
  - zone: home
    service: airplay-server
  - zone: home
    service: kdeconnect
  - zone: home
    service: ssh
  - zone: home
    service: sunshine
  - zone: home
    service: synergy
  - zone: public
    service: ssh
  - zone: vpn
    service: ssh
flatpaks:
  - app.freelens.Freelens
  - com.discordapp.Discord
  - com.usebruno.Bruno
  - md.obsidian.Obsidian
  - org.ferdium.Ferdium
