services:
  # Apache HTTPD + PHP
  # https://github.com/fab-infra/docker-php-apache
  apache:
    image: ghcr.io/fab-infra/php-apache:8.2-opensuse15
    restart: unless-stopped
    hostname: apache
    ports:
      - 80:8080
    environment:
      - DEFAULT_DOCROOT=/srv/www/sd/www/htdocs
    volumes:
      - ./www:/srv/www/sd/www/htdocs
      - /media:/media
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver

{% if cec_api_enabled %}
  # CEC REST API
  # https://github.com/fcrespel/cec-api
  cec-api:
    image: ghcr.io/fcrespel/cec-api:master
    command: ["-a", "0.0.0.0", "-l", "DEBUG"]
    restart: unless-stopped
    hostname: cec-api
    ports:
      - 127.0.0.1:8000:8000
    devices:
      - /dev/aocec
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver

{% endif %}
{% if dnscrypt_proxy_enabled %}
  # DNSCrypt proxy
  # https://github.com/fab-infra/docker-dnscrypt-proxy
  dnscrypt-proxy:
    image: ghcr.io/fab-infra/dnscrypt-proxy:2.1-opensuse15
    restart: unless-stopped
    hostname: dnscrypt-proxy
    ports:
      - 53:5053/tcp
      - 53:5053/udp
    environment:
      - ALLOWED_IPS={{dnscrypt_proxy_allowed_ips}}
      - ALLOWED_NAMES={{dnscrypt_proxy_allowed_names}}
      - BLOCKED_IPS={{dnscrypt_proxy_blocked_ips}}
      - BLOCKED_NAMES={{dnscrypt_proxy_blocked_names}}
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver

{% endif %}
{% if gazpar2haws_enabled %}
  # Gazpar2HAWS
  # https://github.com/ssenart/gazpar2haws
  gazpar2haws:
    image: ssenart/gazpar2haws:latest
    restart: unless-stopped
    hostname: gazpar2haws
    environment:
      - GRDF_USERNAME={{gazpar2haws_grdf_username}}
      - GRDF_PASSWORD={{gazpar2haws_grdf_password}}
      - GRDF_PCE_IDENTIFIER={{gazpar2haws_grdf_pce_identifier}}
      - HOMEASSISTANT_HOST={{inventory_hostname}}
      - HOMEASSISTANT_TOKEN={{gazpar2haws_ha_token}}
    volumes:
      - gazpar2haws-config:/app/config
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver

{% endif %}
{% if homeassistant_enabled %}
  # Home Assistant
  # https://www.home-assistant.io/installation/
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    restart: unless-stopped
    network_mode: host
    privileged: true
    environment:
      - TZ={{homeserver_timezone}}
    volumes:
      - homeassistant-config:/config
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver

{% endif %}
{% if minidlna_enabled %}
  # MiniDLNA
  # https://github.com/fab-infra/docker-minidlna
  minidlna:
    image: ghcr.io/fab-infra/minidlna:1.3-opensuse15
    restart: unless-stopped
    network_mode: host
    environment:
      - MINIDLNA_MEDIA_DIRS={{minidlna_media_dirs}}
    volumes:
      - minidlna-db:/var/cache/minidlna
      - /media:/media
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver

{% endif %}
{% if rf433_api_enabled %}
  # RF433 REST API
  # https://github.com/fcrespel/rf433-api
  rf433-api:
    image: ghcr.io/fcrespel/rf433-api:master
    command: ["-a", "0.0.0.0", "-l", "DEBUG"]
    restart: unless-stopped
    hostname: rf433-api
    privileged: true
    ports:
      - 127.0.0.1:8001:8001
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver

{% endif %}
{% if samba_enabled %}
  # Samba file sharing
  # https://github.com/fab-infra/docker-samba
  samba:
    image: ghcr.io/fab-infra/samba:4.19-opensuse15
    restart: unless-stopped
    hostname: samba
    ports:
      - 139:139
      - 445:445
    environment:
      - SMB_USER=${ADMIN_USER}
      - SMB_PASSWORD=${ADMIN_PASSWORD}
      - SMB_SHARES={{samba_shares}}
    volumes:
      - /media:/media
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver

{% endif %}
{% if sickgear_enabled %}
  # SickGear
  # https://docs.linuxserver.io/images/docker-sickgear
  sickgear:
    image: lscr.io/linuxserver/sickgear:latest
    restart: unless-stopped
    hostname: sickgear
    ports:
      - 8081:8081
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{homeserver_timezone}}
    volumes:
      - sickgear-config:/config
      - {{sickgear_downloads_dir}}:/downloads
      - {{sickgear_tv_dir}}:/tv
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver

{% endif %}
{% if transmission_enabled %}
  # Transmission
  # https://docs.linuxserver.io/images/docker-transmission
  transmission:
    image: lscr.io/linuxserver/transmission:latest
    restart: unless-stopped
    hostname: transmission
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{homeserver_timezone}}
      - USER=${ADMIN_USER}
      - PASS=${ADMIN_PASSWORD}
      - DOCKER_MODS=linuxserver/mods:transmission-floodui
    volumes:
      - transmission-config:/config
      - {{transmission_downloads_dir}}:/downloads
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver

{% endif %}
{% if tvheadend_enabled %}
  # Tvheadend
  # https://docs.linuxserver.io/images/docker-tvheadend
  tvheadend:
    image: lscr.io/linuxserver/tvheadend:latest
    restart: unless-stopped
    hostname: tvheadend
    ports:
      - 9981:9981
      - 9982:9982
    environment:
      - PGID=1000
      - PUID=1000
      - TZ={{homeserver_timezone}}
    volumes:
      - tvheadend-config:/config
      - {{tvheadend_recordings_dir}}:/recordings
    devices:
      - /dev/dvb:/dev/dvb
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver

{% endif %}
{% if watchtower_enabled %}
  # Watchtower
  # https://containrrr.dev/watchtower/
  watchtower:
    image: containrrr/watchtower:latest
    restart: unless-stopped
    hostname: watchtower
    environment:
      - TZ={{homeserver_timezone}}
      - WATCHTOWER_CLEANUP={{watchtower_cleanup}}
      - WATCHTOWER_NOTIFICATION_URL={{watchtower_notification_url}}
      - WATCHTOWER_ROLLING_RESTART={{watchtower_rolling_restart}}
      - WATCHTOWER_SCHEDULE={{watchtower_schedule}}
      - WATCHTOWER_SCOPE=homeserver
      - WATCHTOWER_TIMEOUT={{watchtower_timeout}}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json:ro
    labels:
      - com.centurylinklabs.watchtower.scope=homeserver
{% endif %}

volumes:
{% if grdf2haws_enabled %}
  grdf2haws-config:
{% endif %}
{% if homeassistant_enabled %}
  homeassistant-config:
{% endif %}
{% if minidlna_enabled %}
  minidlna-db:
{% endif %}
{% if sickgear_enabled %}
  sickgear-config:
{% endif %}
{% if transmission_enabled %}
  transmission-config:
{% endif %}
{% if tvheadend_enabled %}
  tvheadend-config:
{% endif %}
