<?php $HOST = $_SERVER['HTTP_HOST']; ?>
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Server</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <style type="text/css">
    a { text-decoration: none; }
    a:hover { text-decoration: underline; }
    .card { width: 12rem; }
    .card-text { font-size: 1.3rem; }
  </style>
</head>

<body class="bg-dark text-light mt-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-0">Home Server</h1>
        <h3 class="text-center text-secondary mb-5"><small><?php echo $HOST; ?></small></h3>
      </div>
    </div>
    <div class="row justify-content-center">
{% if adguard_enabled %}
      <div class="col-auto">
        <a class="card shadow bg-success text-light mb-4" href="http://<?php echo $HOST; ?>:3000/">
          <div class="card-body text-center">
            <h4 class="card-title"><i class="bi bi-shield-check"></i></h4>
            <p class="card-text">AdGuard Home</p>
          </div>
        </a>
      </div>
{% endif %}
{% if homeassistant_enabled %}
      <div class="col-auto">
        <a class="card shadow bg-primary text-light mb-4" href="http://<?php echo $HOST; ?>:8123/">
          <div class="card-body text-center">
            <h4 class="card-title"><i class="bi bi-house-gear-fill"></i></h4>
            <p class="card-text">Home Assistant</p>
          </div>
        </a>
      </div>
{% endif %}
{% if sickgear_enabled %}
      <div class="col-auto">
        <a class="card shadow bg-success text-light mb-4" href="http://<?php echo $HOST; ?>:8081/">
          <div class="card-body text-center">
            <h4 class="card-title"><i class="bi bi-tv"></i></h4>
            <p class="card-text">SickGear</p>
          </div>
        </a>
      </div>
{% endif %}
{% if transmission_enabled %}
      <div class="col-auto">
        <a class="card shadow bg-danger text-light mb-4" href="http://<?php echo $HOST; ?>:9091/">
          <div class="card-body text-center">
            <h4 class="card-title"><i class="bi bi-cloud-arrow-down-fill"></i></h4>
            <p class="card-text">Transmission</p>
          </div>
        </a>
      </div>
{% endif %}
{% if tvheadend_enabled %}
      <div class="col-auto">
        <a class="card shadow bg-warning text-dark mb-4" href="http://<?php echo $HOST; ?>:9981/">
          <div class="card-body text-center">
            <h4 class="card-title"><i class="bi bi-broadcast-pin"></i></h4>
            <p class="card-text">Tvheadend</p>
          </div>
        </a>
      </div>
{% endif %}
    </div>
  </div>
</body>

</html>
