integrations:
  node_exporter:
    enabled: true
    relabel_configs:
    - replacement: {{ansible_hostname}}
      target_label: instance
  prometheus_remote_write:
  - basic_auth:
      password: {{grafana_cloud_api_key}}
      username: {{grafana_cloud_prometheus_username}}
    url: {{grafana_cloud_prometheus_url}}
logs:
  configs:
  - clients:
    - basic_auth:
        password: {{grafana_cloud_api_key}}
        username: {{grafana_cloud_loki_username}}
      url: {{grafana_cloud_loki_url}}
    name: integrations
    positions:
      filename: /tmp/positions.yaml
    scrape_configs:
    - job_name: integrations/node_exporter_journal_scrape
      journal:
        labels:
          instance: {{ansible_hostname}}
          job: integrations/node_exporter
        max_age: 24h
      relabel_configs:
      - source_labels: ["__journal__systemd_unit"]
        target_label: unit
      - source_labels: ["__journal__boot_id"]
        target_label: boot_id
      - source_labels: ["__journal__transport"]
        target_label: transport
      - source_labels: ["__journal_priority_keyword"]
        target_label: level
    target_config:
      sync_period: 10s
metrics:
  configs:
  - name: integrations
    remote_write:
    - basic_auth:
        password: {{grafana_cloud_api_key}}
        username: {{grafana_cloud_prometheus_username}}
      url: {{grafana_cloud_prometheus_url}}
  global:
    scrape_interval: 60s
  wal_directory: /tmp/grafana-agent-wal
